.planet-wrap {
  display: flex;

  .planet-img-container {
    max-width: 100px;
    flex-basis: 20%;
    text-align: center;
    padding: 25px 0;

  }

  .planet-details {
    flex-basis: 70%;
    padding: 10px 0;
  }

  .right-arrow {
    flex-basis: 15%;
    align-items: center;
    display: flex;
    justify-content: flex-end;

    img {
      width: 50px;
    }
  }
}
