<div class="planet-wrap">
  <div class="planet-img-container">
    <img src="assets/images/planet.png" width="50px" alt="">
  </div>
  <div class="planet-details" *ngIf="planet">
    <div>{{planet.name}}</div>
    <div><label for="population">Population: </label>
          <strong *ngIf="planet.population != 'unknown';else unknown">{{planet.population}}</strong>
      <ng-template #unknown><img width="15px" src="assets/images/unknown.png"></ng-template>
    </div>
    <div><label for="diameter">Diameter: </label>
          <strong *ngIf="planet.diameter != 'unknown';else unknown">{{planet.diameter}}</strong>
      <ng-template #unknown><img width="15px" src="assets/images/unknown.png"></ng-template>
    </div>
  </div>
  <div *ngIf="showArrow === 'true'" class="right-arrow"><a [routerLink]="[ '/planets/', planetId ]"><img src="assets/images/right-chevron.png" /></a></div>

</div>
