<div class="planet-details">
    <div class="back-arrow" (click)="goBack()"> <img src="assets/images/left-chevron.png">GO BACK</div>
    <div class="planet-details-container">

      <app-planet  showArrow="false" [planet]="planet"></app-planet>

      <div class="planet-details-more" *ngIf="planet">
        <div><span>Rotation period: {{planet.rotation_period}}</span></div>
        <div><span>orbital_period: {{planet.orbital_period}}</span></div>
        <div><span>diameter: {{planet.diameter}}</span></div>
        <div><span>climate: {{planet.climate}}</span></div>
        <div><span>gravity: {{planet.gravity}}</span></div>
        <div><span>terrain: {{planet.terrain}}</span></div>
        <div><span>surface_water: {{planet.surface_water}}</span></div>
        <div><span>population: {{planet.population}}</span></div>
      </div>
    </div>
  </div>
