.planet-details-container {
  box-shadow: 0px 2px 3px 3px #e2e2e2;
  margin: 15px 0 ;
  padding-bottom: 35px;
}

.planet-details-more {
  margin-left: 14%;
}

.back-arrow {
  display: flex;
  cursor: pointer;
}
