<header>
    <div>
      <div class="logo">
        <a [routerLink]="['/']">
          <span>STAR WARS APP</span>
        </a>
      </div>

      <div class="company-name">
        <span>START DEV TEST</span>
      </div>

    </div>
    <div class="clear-both"></div>
  </header>
