header {
  background-color: black;
  padding: 20px;
  font-weight: 700;
  font-size: 18px;

  .logo {
    color: white;
    float: left;

  }

  .company-name{
    color: red;
    float: right;

  }
}
