<div class="planet-list">

  <ng-container *ngIf="planets">
    <div class="planet-box" *ngFor="let planet of planets.results">
      <app-planet showArrow="true" [planet]="planet"></app-planet>
    </div>
  </ng-container>

  <p-paginator *ngIf="planets" rows="10" [totalRecords]="planets.count" (onPageChange)="paginate($event)"></p-paginator>

</div>
